.blog-section{
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    display: flex;
    flex-direction: row;
    gap: 25px;

  }
  &__card{

  }
}