.btn{
  cursor: pointer;
  font-family: inherit;
  transition: color $transition, background-color $transition, border-color $transition, opacity $transition;
  &__primary{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px $gap-s;
    font-weight: 500;
    @include button-s;
    color: $n-1-color;
    background-color: $n-7-color;
    border: none;
    border-radius: $radius-s;
    &:hover{
      background-color: $n-5-color;
    }
  }
  &__outline{
    display: inline-block;
    padding: 10px $gap-l;
    text-decoration: none;
    font-weight: 500;
    @include button-s;
    color: $n-7-color;
    background-color: transparent;
    border: 1px solid $n-7-color;
    border-radius: $radius-pill;
    &:hover{
      color: $n-1-color;
      background-color: $n-7-color;
    }
  }
  &__primary-pill{
    display: inline-block;
    padding: 10px $gap-l;
    font-weight: 500;
    @include button-s;
    color: $n-1-color;
    background-color: $n-7-color;
    border: 1px solid $n-7-color;
    border-radius: $radius-pill;
    text-decoration: none;
    &:hover{
      background-color: $n-5-color;
      border-color: $n-5-color;
    }
  }
  &__primary-home{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: $gap-xs;
    padding: 0px 0px 2px;
    font-weight: 500;
    @include button-xs;
    color: $n-7-color;
    background-color: transparent;
    border: none;
    text-decoration: none;
    &:after{
      content: url("/button/arrow-right.svg");
      display: block;
      width: 20px;
      height: 20px;
      transition: transform $transition;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $n-7-color;
      transform-origin: left;
      transition: transform $transition;
    }
    &:hover:after{
      transform: translateX($gap-xxs);
    }
    &:hover:before{
      transform: scaleX(0);
    }
  }
  &__nav{
    display: flex;
    padding: 0;
    background-color: transparent;
    border: none;
    &:hover{
      opacity: 0.6;
    }
  }
  &__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    &:hover{
      opacity: 0.6;
    }
  }
}
