$n-1-color: #FEFEFE;
$n-2-color: #F3F5F7;
$n-3-color: #E8ECEF;
$n-4-color: #6C7275;
$n-5-color: #343839;
$n-6-color: #232627;
$n-7-color:  #141718;

$primary: #000000;

$s-1-blue-color: #377DFF;
$s-1-green-color: #38CB89;
$s-1-red-color: #FF5630;
$s-1-orange-color: #FFAB00;
