.slider {
  position: relative;
  max-width: 100%;
  height: 360px;

}
.slides {
  position: relative;
  display: flex;
  transition: transform 0.5s ease;
  z-index: 1;

}
.slides img {
  width: 95%;
  height: auto;
  display: block;
  position: absolute;
  padding: 0px 10px;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;

}
.slides img.active {
  opacity: 1;
  z-index: 1;
}
.slides img.next {
  z-index: 2;
}
.slider-points {
  position: absolute;
  bottom: -220px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
}
.slider-points span {
  width: 10px;
  height: 10px;
  background-color: $n-1-color;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.slider-points span.active {
  background-color: $n-1-color;
  width: 30px;
  border-radius: 100px;
}